@{
    string RiderId = Context.Request.Cookies["RiderId"];
    string AdminId = Context.Request.Cookies["AdminId"];
    string MerchantId = Context.Request.Cookies["MerchantId"];
    string AdminEmail = Context.Request.Cookies["AdminEmail"];
    string RiderEmail = Context.Request.Cookies["RiderEmail"];
    string MerchantEmail = Context.Request.Cookies["MerchantEmail"];


}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Flyer Express - Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/home/assets/img/FlyerBd.png" rel="icon">
    <link href="~/home/assets/img/FlyerBd.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/home/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/home/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/home/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/home/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/home/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/home/assets/vendor/aos/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <!-- Template Main CSS File -->
    <link href="~/home/assets/css/main.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode/dist/JsBarcode.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>

    <!-- =======================================================
    * Template Name: Logis
    * Updated: Jan 29 2024 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>


    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">



            <a asp-action="Index" asp-controller="Home" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="~/home/assets/img/3.png" alt="">
                <img src="~/home/assets/img/text.png" alt="">

                @* <span class="secImg text-white font-weight-bold">
                <span class="imgDiv">

                </span>
                </span> *@
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a asp-action="Index" class="active">Home</a></li>
                    <li><a href="#About">About</a></li>
                    <li><a href="#Service">Services</a></li>
                    <li><a href="#Pricing">Pricing</a></li>

                    <li><a href="#Contact">Contact</a></li>
                    @if (RiderId != null)
                    {
                        <li><a asp-action="Index" asp-controller="Rider">@RiderEmail</a></li>
                        <li><a asp-action="Index" asp-controller="Rider">Dashboard</a></li>
                        <li><a asp-action="Logout" asp-controller="Home">Logout</a></li>
                    }
                    else if (AdminId != null)
                    {
                        <li><a class="font-weight-bold" asp-action="Index" asp-controller="Admin">@AdminEmail</a></li>
                        <li><a asp-action="Index" asp-controller="Admin">Dashboard</a></li>
                        <li><a asp-action="Logout" asp-controller="Home">Logout</a></li>
                    }
                    else if (MerchantId != null)
                    {
                        <li><a class="font-weight-bold" asp-action="Index" asp-controller="Merchant">@MerchantEmail</a></li>
                        <li><a asp-action="Index" asp-controller="Merchant">Dashboard</a></li>
                        <li><a asp-action="Logout" asp-controller="Home">Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-action="Login">Login</a></li>
                        <li><a class="get-a-quote" asp-action="RegisterMerchant">Become A Merchant</a></li>

                    }


                </ul>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- End Header -->



    <div class="">
        <main role="main" class="">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a asp-action="Home" class="logo d-flex align-items-center">
                        <img src="~/home/assets/img/3.png" alt="">
                        <img src="~/home/assets/img/text.png" alt="">
                    </a>

                    <p>Your trusted partner for fast and reliable courier services. We deliver excellence, every time.</p>
                    <div class="social-links d-flex mt-4">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a target="_blank" href="https://www.facebook.com/flyerexpressbd" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/flyerexpress.ltd/" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a asp-action="Home">Home</a></li>
                        <li><a href="#About">About us</a></li>
                        <li><a href="#Service">Services</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><a href="#">Storage</a></li>
                        <li><a href="#">Logistics</a></li>
                        <li><a href="#">Cargo</a></li>
                        <li><a href="#">Trucking</a></li>
                        <li><a href="#">Packeaging</a></li>
                        <li><a href="#">Warehousing</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        House 267/1/A, 2rd Floor <br /> 60 Feet Main Road,South Pirerbag,<br /> Kamal Sarini, Near Paka Masque, Mirpur  Dhaka, Bangladesh <br /><br />
                        <strong>Phone:</strong>
                        01701-018080<br>
                        <strong>Email:</strong> hello@flyerbd.com<br>
                    </p>

                </div>

            </div>
        </div>

        <div class="container mt-4">
            <div class="copyright">
                &copy; Copyright
                <a target="_blank" class="text-white" href="https://techenovative.com/">
                    <strong><span>Tech Enovative</span></strong>
                </a>
                All Rights Reserved
            </div>

        </div>

    </footer><!-- End Footer -->
    <!-- End Footer -->
    <!-- loader -->
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/home/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/home/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/home/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/home/assets/vendor/aos/aos.js"></script>
    <script src="~/home/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/home/assets/js/main.js"></script>


    <!-- Vendor js -->
    <script src="~/assets/js/vendor.min.js"></script>

    <!--Morris Chart-->
    <script src="~/assets/libs/morris-js/morris.min.js"></script>
    <script src="~/assets/libs/raphael/raphael.min.js"></script>

    <!-- Dashboard init js-->
    <script src="~/assets/js/pages/dashboard.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/2.0.0/js/dataTables.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
