@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Courier-Service" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="https://i.ibb.co/nrbyqDb/cropped-20240212-042330-0000-1.webp?fbclid=IwAR1NZ_esF6HEjndt-7mpQEAgvTV_ptZlr3n0COhZFFAu4DzeOkLipq7P0ik">

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

</head>

<body class="authentication-bg">
    <partial name="_Notification" />
    <div class="account-pages pt-5 my-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="account-card-box">
                        <div class="card mb-0">
                            <div class="card-body p-4">

                                <div class="text-center">
                                    <div class="my-3">
                                        <a asp-action="Home">
                                            <span><img src="https://i.ibb.co/nrbyqDb/cropped-20240212-042330-0000-1.webp?fbclid=IwAR1NZ_esF6HEjndt-7mpQEAgvTV_ptZlr3n0COhZFFAu4DzeOkLipq7P0ik" alt="" height="150"></span>
                                        </a>
                                    </div>
                                    <h5 class="text-muted text-uppercase py-3 font-16">Sign In</h5>
                                </div>

                                <form method="post" class="mt-2">

                                    <div class="form-group mb-3">
                                        <input class="form-control" type="text" name="email" required="" placeholder="Enter your Email">
                                    </div>

                                    <div class="form-group mb-3">
                                        <input class="form-control" type="password" name="password" required="" id="password" placeholder="Enter your password">
                                    </div>

                                    <div class="form-group mb-3">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkbox-signin" name="IsRememberME" checked>
                                            <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                                        </div>
                                    </div>

                                    <div class="form-group text-center">
                                        <button asp-controller="Home" asp-action="Login" class="btn btn-success btn-block waves-effect waves-light" type="submit"> Log In </button>
                                    </div>
                                    <span class="font-weight-bold text-black">Want To Become A Merchant?</span><a asp-action="RegisterMerchant" asp-controller="Home" class="text-primary"> Click Here</a>
                                    <br />
                                    <br />
                                    <a asp-action="ForgetPassword" asp-controller="Home" class="text-muted"><i class="mdi mdi-lock mr-1"></i> Forgot your password?</a>
                                    <br />
                                    <br />
                                    <a asp-action="Home" asp-controller="Home" class="text-muted"><i class="mdi mdi-home"></i> Back To Home</a>
                                </form>

                               
                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>

                    
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <!-- Vendor js -->
    <script src="~/assets/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.min.js"></script>

</body>
</html>