@model Merchant

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row mt-5 justify-content-center align-content-center">
                <div class="col-lg-6">
                    <div>
                        <h4 class="header-title">Register a Merchant</h4>

                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="CompanyName">Company Name<span class="text-danger">*</span></label>
                                <input asp-for="CompanyName" type="text" name="CompanyName" parsley-trigger="change" required
                                       placeholder="Enter company name" class="form-control" id="CompanyName">
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name">Owner's Name<span class="text-danger">*</span></label>
                                <input asp-for="Name" type="text" name="Name" parsley-trigger="change" required
                                       placeholder="Enter owner's name" class="form-control" id="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FullAddress">Full Address<span class="text-danger">*</span></label>
                                <input asp-for="FullAddress" type="text" name="FullAddress" parsley-trigger="change" required
                                       placeholder="Enter full address" class="form-control" id="FullAddress">
                                <span asp-validation-for="FullAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CompanyAddress">Company Address<span class="text-danger">*</span></label>
                                <input asp-for="CompanyAddress" type="text" name="CompanyAddress" parsley-trigger="change" required
                                       placeholder="Enter company address" class="form-control" id="CompanyAddress">
                                <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="District" for="District">District</label>
                                <select asp-for="District" id="District" class="form-control">
                                    <option value="Bagerhat">Bagerhat</option>
                                    <option value="Bandarban">Bandarban</option>
                                    <option value="Barguna">Barguna</option>
                                    <option value="Barisal">Barisal</option>
                                    <option value="Bhola">Bhola</option>
                                    <option value="Bogra">Bogra</option>
                                    <option value="Brahmanbaria">Brahmanbaria</option>
                                    <option value="Chandpur">Chandpur</option>
                                    <option value="Chapainawabganj">Chapainawabganj</option>
                                    <option value="Chittagong">Chittagong</option>
                                    <option value="Chuadanga">Chuadanga</option>
                                    <option value="Comilla">Comilla</option>
                                    <option value="Cox's Bazar">Cox's Bazar</option>
                                    <option value="Dhaka">Dhaka</option>
                                    <option value="Dinajpur">Dinajpur</option>
                                    <option value="Faridpur">Faridpur</option>
                                    <option value="Feni">Feni</option>
                                    <option value="Gaibandha">Gaibandha</option>
                                    <option value="Gazipur">Gazipur</option>
                                    <option value="Gopalganj">Gopalganj</option>
                                    <option value="Habiganj">Habiganj</option>
                                    <option value="Jamalpur">Jamalpur</option>
                                    <option value="Jessore">Jessore</option>
                                    <option value="Jhalokati">Jhalokati</option>
                                    <option value="Jhenaidah">Jhenaidah</option>
                                    <option value="Joypurhat">Joypurhat</option>
                                    <option value="Khagrachhari">Khagrachhari</option>
                                    <option value="Khulna">Khulna</option>
                                    <option value="Kishoreganj">Kishoreganj</option>
                                    <option value="Kurigram">Kurigram</option>
                                    <option value="Kushtia">Kushtia</option>
                                    <option value="Lakshmipur">Lakshmipur</option>
                                    <option value="Lalmonirhat">Lalmonirhat</option>
                                    <option value="Madaripur">Madaripur</option>
                                    <option value="Magura">Magura</option>
                                    <option value="Manikganj">Manikganj</option>
                                    <option value="Meherpur">Meherpur</option>
                                    <option value="Moulvibazar">Moulvibazar</option>
                                    <option value="Munshiganj">Munshiganj</option>
                                    <option value="Mymensingh">Mymensingh</option>
                                    <option value="Naogaon">Naogaon</option>
                                    <option value="Narail">Narail</option>
                                    <option value="Narayanganj">Narayanganj</option>
                                    <option value="Narsingdi">Narsingdi</option>
                                    <option value="Natore">Natore</option>
                                    <option value="Nawabganj">Nawabganj</option>
                                    <option value="Netrakona">Netrakona</option>
                                    <option value="Nilphamari">Nilphamari</option>
                                    <option value="Noakhali">Noakhali</option>
                                    <option value="Pabna">Pabna</option>
                                    <option value="Panchagarh">Panchagarh</option>
                                    <option value="Patuakhali">Patuakhali</option>
                                    <option value="Pirojpur">Pirojpur</option>
                                    <option value="Rajbari">Rajbari</option>
                                    <option value="Rajshahi">Rajshahi</option>
                                    <option value="Rangamati">Rangamati</option>
                                    <option value="Rangpur">Rangpur</option>
                                    <option value="Satkhira">Satkhira</option>
                                    <option value="Shariatpur">Shariatpur</option>
                                    <option value="Sherpur">Sherpur</option>
                                    <option value="Sirajganj">Sirajganj</option>
                                    <option value="Sunamganj">Sunamganj</option>
                                    <option value="Sylhet">Sylhet</option>
                                    <option value="Tangail">Tangail</option>
                                    <option value="Thakurgaon">Thakurgaon</option>
                                </select>
                                <span asp-validation-for="District" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Area" for="Area">Area</label>
                                <select asp-for="Area" id="Area" class="form-control">
                                    <!-- Options for Area will be dynamically populated based on selected District -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="ContactNumber">Contact Number<span class="text-danger">*</span></label>
                                <input asp-for="ContactNumber" type="text" name="ContactNumber" parsley-trigger="change" required
                                       placeholder="Enter contact number" class="form-control" id="ContactNumber">
                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FacebookUrl">Facebook URL</label>
                                <input asp-for="FacebookUrl" type="text" name="FacebookUrl" parsley-trigger="change"
                                       placeholder="Enter Facebook URL" class="form-control" id="FacebookUrl">
                                <span asp-validation-for="FacebookUrl" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Website">Website</label>
                                <input asp-for="Website" type="text" name="Website" parsley-trigger="change"
                                       placeholder="Enter website URL" class="form-control" id="Website">
                                <span asp-validation-for="Website" class="text-danger"></span>
                            </div>
                            @* <div class="form-group">
                                <label asp-for="ImageUrl">Image</label>
                                <input asp-for="ImageUrl" type="file" name="file" parsley-trigger="change"
                                       class="form-control" id="ImageUrl">
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div> *@
                            <div class="form-group">
                                <label asp-for="Email">Email Address<span class="text-danger">*</span></label>
                                <input asp-for="Email" type="email" name="Email" parsley-trigger="change" required
                                       placeholder="Enter email" class="form-control" id="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password">Password<span class="text-danger">*</span></label>
                                <input asp-for="Password" type="password" name="Password" parsley-trigger="change" required
                                       placeholder="Enter password" class="form-control" id="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword">Confirm Password<span class="text-danger">*</span></label>
                                <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" parsley-trigger="change" required
                                       placeholder="Enter password" class="form-control" id="Password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NID">NID<span class="text-danger">*</span></label>
                                <input asp-for="NID" type="text" name="NID" parsley-trigger="change" required
                                       placeholder="Enter NID" class="form-control" id="NID">
                                <span asp-validation-for="NID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TradeLicense">Trade License<span class="text-danger"></span></label>
                                <input asp-for="TradeLicense" type="text" name="TradeLicense" parsley-trigger="change" 
                                       placeholder="Enter trade license" class="form-control" id="TradeLicense">
                                <span asp-validation-for="TradeLicense" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Tin">TIN<span class="text-danger"></span></label>
                                <input asp-for="Tin" type="text" name="Tin" parsley-trigger="change" 
                                       placeholder="Enter TIN" class="form-control" id="Tin">
                                <span asp-validation-for="Tin" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="InsideDhakaDeliveryCharge">Inside Dhaka Delivery Charge<span class="text-danger"></span></label>
                                <input asp-for="InsideDhakaDeliveryCharge" type="number" name="InsideDhakaDeliveryCharge" parsley-trigger="change"
                                       placeholder="Enter Inside Dhaka Delivery Charge" class="form-control" id="InsideDhakaDeliveryCharge">
                                <span asp-validation-for="InsideDhakaDeliveryCharge" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="SubDhakaDeliveryCharge">Sub Dhaka Delivery Charge<span class="text-danger"></span></label>
                                <input asp-for="SubDhakaDeliveryCharge" type="number" name="SubDhakaDeliveryCharge" parsley-trigger="change"
                                       placeholder="Enter Sub Dhaka Delivery Charge" class="form-control" id="SubDhakaDeliveryCharge">
                                <span asp-validation-for="SubDhakaDeliveryCharge" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="OutsideDhakaDeliveryCharge">Outside Dhaka Delivery Charge<span class="text-danger"></span></label>
                                <input asp-for="OutsideDhakaDeliveryCharge" type="number" name="OutsideDhakaDeliveryCharge" parsley-trigger="change"
                                       placeholder="Enter Outside DhakaDelivery Charge" class="form-control" id="OutsideDhakaDeliveryCharge">
                                <span asp-validation-for="OutsideDhakaDeliveryCharge" class="text-danger"></span>
                            </div>

                            
                            <div class="form-group">
                                <label asp-for="InDhakaEmergencyDeliveryCharge">InDhaka Emergency Delivery Charge<span class="text-danger"></span></label>
                                <input asp-for="InDhakaEmergencyDeliveryCharge" type="number" name="InDhakaEmergencyDeliveryCharge" parsley-trigger="change"
                                       placeholder="Enter In Dhaka Emergency DeliveryCharge" class="form-control" id="InDhakaEmergencyDeliveryCharge">
                                <span asp-validation-for="InDhakaEmergencyDeliveryCharge" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="P2PDeliveryCharge">P2P Delivery Charge<span class="text-danger"></span></label>
                                <input asp-for="P2PDeliveryCharge" type="number" name="P2PDeliveryCharge" parsley-trigger="change"
                                       placeholder="Enter P2P Delivery Charge" class="form-control" id="P2PDeliveryCharge">
                                <span asp-validation-for="P2PDeliveryCharge" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="MaxiumWeight">Max Weight (KG)<span class="text-danger"></span></label>
                                <input asp-for="MaxiumWeight" type="number" name="MaxiumWeight" parsley-trigger="change"
                                       placeholder="Enter Maxium Weight" class="form-control" id="MaxiumWeight">
                                <span asp-validation-for="MaxiumWeight" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ExtraWeightCharge">Extra Weight Charge (TK)<span class="text-danger"></span></label>
                                <input asp-for="ExtraWeightCharge" type="number" name="ExtraWeightCharge" parsley-trigger="change"
                                       placeholder="Enter Extra Weight Charge" class="form-control" id="ExtraWeightCharge">
                                <span asp-validation-for="P2PDeliveryCharge" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group text-right mb-0">
                                <button asp-controller="Admin" asp-action="AddMerchant" class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary waves-effect">
                                    Reset
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const areasByDistrict = {
            "Bagerhat": ["Bagerhat Sadar", "Chitalmari", "Fakirhat", "Kachua", "Mollahat", "Mongla", "Morrelganj", "Rampal", "Sarankhola"],
            "Bandarban": ["Bandarban Sadar", "Thanchi", "Lama", "Ruma"],
            "Barguna": ["Barguna Sadar", "Amtali", "Bamna", "Betagi", "Patharghata"],
            "Barisal": ["Barisal Sadar", "Agailjhara", "Babuganj", "Bakerganj", "Banaripara", "Gaurnadi", "Hizla", "Mehendiganj", "Muladi", "Wazirpur"],
            "Bhola": ["Bhola Sadar", "Burhanuddin", "Char Fasson", "Daulatkhan", "Lalmohan", "Manpura", "Tazumuddin"],
            "Bogra": ["Bogra Sadar", "Adamdighi", "Dhunat", "Dhupchanchia", "Gabtali", "Kahaloo", "Nandigram", "Sariakandi", "Sherpur", "Shibganj", "Sonatala"],
            "Brahmanbaria": ["Brahmanbaria Sadar", "Ashuganj", "Bancharampur", "Kasba", "Nabinagar", "Nasirnagar", "Sarail"],
            "Chandpur": ["Chandpur Sadar", "Faridganj", "Hajiganj", "Kachua", "Matlab Dakshin", "Matlab Uttar", "Shahrasti"],
            "Chapainawabganj": ["Chapainawabganj Sadar", "Gomostapur", "Nachole", "Bholahat", "Rohanpur", "Shibganj"],
            "Chattogram": ["Anwara", "Banshkhali", "Boalkhali", "Chandanaish", "Fatikchhari", "Hathazari", "Lohagara", "Mirsharai", "Patiya", "Rangunia", "Sandwip", "Satkania", "Sitakunda"],
            "Chuadanga": ["Chuadanga Sadar", "Alamdanga", "Damurhuda", "Jibannagar"],
            "Cox's Bazar": ["Cox's Bazar Sadar", "Chakaria", "Maheshkhali", "Kutubdia", "Ramu", "Teknaf", "Ukhia"],
            "Cumilla": ["Cumilla Sadar", "Barura", "Brahmanpara", "Burichang", "Chandina", "Chauddagram", "Daudkandi", "Debidwar", "Homna", "Laksam", "Monohorgonj", "Muradnagar", "Nangalkot", "Comilla Adarsha Sadar", "Meghna", "Titas"],
            "Dhaka": [
                "Adabor", "Agargaon", "Airport", "Badda", "Banani", "Banani DOHS", "Banasree", "Bangshal", "Baridhara", "Baridhara DOHS",
                "Basabo", "Basundhara", "Cantonment", "Chak Bazar", "Dakshinkhan", "Dania", "Darus Salam", "Demra", "Dhamrai", "Dhanmondi",
                "Dohar", "Elephant Road", "Farmgate", "Gabtoli", "Gandaria", "Gulshan", "Hazaribagh", "Jatrabari", "Kadamtali", "Kafrul",
                "Kalabagan", "Kamrangirchar", "Kathalbagan", "Kawran Bazar", "Keraniganj", "Khilgaon", "Khilkhet", "Kotwali", "Lalbagh",
                "Madartek", "Malibagh", "Mirpur", "Mohakhali", "Mohakhali DOHS", "Mohammadpur", "Motijheel", "Mugda", "Nakhalpara", "Nandipara",
                "Narinda", "Naya Paltan", "New Market", "Pallabi", "Panthapath", "Posta", "Purana Paltan", "Raja Bazar", "Ramna", "Rampura",
                "Rayer Bazar", "Rupnagar", "Sabujbagh", "Savar", "Segunbagicha", "Shah Ali", "Shahbagh", "Shajahanpur", "Shamoli", "Shyampur",
                "Siddheswari", "Sutrapur", "Tejgaon", "Tongi", "Tura", "Turag", "Uttara", "Vatara", "Vasantek"
            ],

            "Dinajpur": ["Dinajpur Sadar", "Birampur", "Birganj", "Biral", "Bochaganj", "Chirirbandar", "Phulbari", "Ghoraghat", "Hakimpur", "Kaharole", "Khansama", "Nababganj", "Parbatipur"],
            "Faridpur": ["Faridpur Sadar", "Alfadanga", "Bhanga", "Boalmari", "Char Bhadrasan", "Madhukhali", "Nagarkanda", "Sadarpur", "Shaltha"],
            "Feni": ["Feni Sadar", "Chhagalnaiya", "Daganbhuiyan", "Parshuram", "Fulgazi", "Sonagazi"],
            "Gaibandha": ["Gaibandha Sadar", "Fulchhari", "Gobindaganj", "Sundarganj", "Palashbari", "Phulchari", "Sadullapur", "Saghata"],
            "Gazipur": ["Gazipur Sadar", "Kaliakair", "Kapasia", "Sreepur"],
            "Gopalganj": ["Gopalganj Sadar", "Kashiani", "Kotalipara", "Muksudpur", "Tungipara"],
            "Habiganj": ["Habiganj Sadar", "Ajmiriganj", "Baniachong", "Bahubal", "Chunarughat", "Lakhai", "Madhabpur", "Nabiganj"],
            "Jamalpur": ["Jamalpur Sadar", "Baksiganj", "Dewanganj", "Islampur", "Madarganj", "Melandaha", "Sarishabari"],
            "Jashore": ["Jashore Sadar", "Chaugachha", "Jhikargachha", "Keshabpur", "Bagherpara", "Manirampur", "Abhaynagar", "Sharsha"],
            "Jhalokati": ["Jhalokati Sadar", "Kathalia", "Nalchity", "Rajapur"],
            "Jhenaidah": ["Jhenaidah Sadar", "Harinakundu", "Kaliganj", "Kotchandpur", "Maheshpur", "Shailkupa"],
            "Joypurhat": ["Joypurhat Sadar", "Akkelpur", "Kalai", "Khetlal", "Panchbibi"],
            "Khagrachhari": ["Khagrachhari Sadar", "Dighinala", "Lakshmichhari", "Mahalchhari", "Manikchhari", "Matiranga", "Panchhari", "Ramgarh"],
            "Khulna": ["Khulna Sadar", "Dacope", "Koyra", "Paikgachha", "Phultala", "Rupsha", "Terokhada", "Dighalia", "Batiaghata", "Dumuria"],
            "Kishoreganj": ["Kishoreganj Sadar", "Austagram", "Bajitpur", "Bhairab", "Hossainpur", "Itna", "Karimganj", "Katiadi", "Kuliarchar", "Mithamain", "Nikli", "Pakundia", "Tarail"],
            "Kurigram": ["Kurigram Sadar", "Bhurungamari", "Char Rajibpur", "Chilmari", "Phulbari", "Nageshwari", "Rajarhat", "Rajibpur", "Ulipur"],
            "Kushtia": ["Kushtia Sadar", "Bheramara", "Daulatpur", "Khoksa", "Kumarkhali", "Mirpur"],
            "Lakshmipur": ["Lakshmipur Sadar", "Raipur", "Ramganj", "Ramgati", "Kamalnagar"],
            "Lalmonirhat": ["Lalmonirhat Sadar", "Aditmari", "Hatibandha", "Kaliganj", "Patgram"],
            "Madaripur": ["Madaripur Sadar", "Kalkini", "Rajoir", "Shibchar"],
            "Magura": ["Magura Sadar", "Mohammadpur", "Shalikha", "Sreepur"],
            "Manikganj": ["Manikganj Sadar", "Ghior", "Harirampur", "Shibloya", "Singair"],
            "Meherpur": ["Meherpur Sadar", "Gangni", "Mujibnagar"],
            "Moulvibazar": ["Moulvibazar Sadar", "Barlekha", "Kamalganj", "Kulaura", "Rajnagar", "Sreemangal"],
            "Munshiganj": ["Munshiganj Sadar", "Sirajdikhan", "Lohajang", "Gazaria", "Sreenagar", "Tongibari"],
            "Mymensingh": ["Mymensingh Sadar", "Bhaluka", "Trishal", "Fulbaria", "Gaffargaon", "Gauripur", "Haluaghat", "Ishwarganj"],
            "Naogaon": ["Naogaon Sadar", "Atrai", "Badalgachhi", "Dhamoirhat", "Manda", "Mohadevpur", "Niamatpur", "Patnitala", "Porsha", "Raninagar", "Sapahar"],
            "Narail": ["Narail Sadar", "Kalia", "Lohagara"],
            "Narayanganj": ["Narayanganj Sadar", "Araihazar", "Bandar", "Rupganj", "Sonargaon"],
            "Narsingdi": ["Narsingdi Sadar", "Belabo", "Monohardi", "Palash", "Raipura", "Shibpur"],
            "Natore": ["Natore Sadar", "Baraigram", "Boraigram", "Gurudaspur", "Lalpur", "Singra"],
            "Netrokona": ["Netrokona Sadar", "Atpara", "Barhatta", "Durgapur", "Khaliajuri", "Kalmakanda", "Madan", "Mohanganj", "Purbadhala"],
            "Nilphamari": ["Nilphamari Sadar", "Dimla", "Domar", "Jaldhaka", "Kishoreganj", "Saidpur"],
            "Noakhali": ["Noakhali Sadar", "Begumganj", "Chatkhil", "Companiganj", "Hatiya", "Senbagh"],
            "Pabna": ["Pabna Sadar", "Atgharia", "Bera", "Bhangura", "Chatmohar", "Faridpur", "Ishwardi", "Santhia", "Sujanagar"],
            "Panchagarh": ["Panchagarh Sadar", "Atwari", "Boda", "Debiganj", "Tetulia"],
            "Patuakhali": ["Patuakhali Sadar", "Bauphal", "Dashmina", "Galachipa", "Kalapara", "Mirzaganj", "Rangabali"],
            "Pirojpur": ["Pirojpur Sadar", "Bhandaria", "Kawkhali", "Mathbaria", "Nazirpur", "Nesarabad (Swarupkathi)"],
            "Rajbari": ["Rajbari Sadar", "Baliakandi", "Goalandaghat", "Pangsha"],
            "Rajshahi": ["Rajshahi Sadar", "Bagha", "Bagmara", "Charghat", "Durgapur", "Godagari", "Mohanpur", "Paba", "Puthia", "Tanore"],
            "Rangamati": ["Rangamati Sadar", "Belaichhari", "Baghaichhari", "Barkal", "Juraichhari", "Rajasthali", "Kaptai", "Langadu", "Naniarchar"],
            "Satkhira": ["Satkhira Sadar", "Assasuni", "Debhata", "Kalaroa", "Kaliganj", "Satkhira Sadar", "Shyamnagar", "Tala"],
            "Shariatpur": ["Shariatpur Sadar", "Bhedarganj", "Damudya", "Gosairhat", "Naria", "Zajira"],
            "Sherpur": ["Sherpur Sadar", "Jhenaigati", "Nakla", "Nalitabari", "Sreebardi"],
            "Sirajganj": ["Sirajganj Sadar", "Belkuchi", "Chauhali", "Kamarkhanda", "Kazipur", "Raiganj", "Shahjadpur", "Tarash", "Ullahpara"],
            "Sunamganj": ["Sunamganj Sadar", "Bishwamvarpur", "Chhatak", "Derai", "Dharampasha", "Dowarabazar", "Jagannathpur", "Jamalganj", "Shalla", "Tahirpur"],
            "Sylhet": ["Sylhet Sadar", "Balaganj", "Beanibazar", "Bishwanath", "Companiganj", "Dakshin Surma", "Fenchuganj", "Golapganj", "Gowainghat", "Jaintiapur", "Kanaighat", "Zakiganj"],
            "Tangail": ["Tangail Sadar", "Basail", "Bhuapur", "Delduar", "Dhanbari", "Ghatail", "Gopalpur", "Kalihati", "Madhupur", "Mirzapur", "Nagarpur", "Sakhipur"],
            "Thakurgaon": ["Thakurgaon Sadar", "Baliadangi", "Haripur", "Pirganj", "Ranisankail"],
        };


        const districtSelect = document.getElementById("District");
        const areaSelect = document.getElementById("Area");

        // Function to populate the Area dropdown based on the selected District
        function populateAreas() {
            const selectedDistrict = districtSelect.value;

            // Clear existing options
            areaSelect.innerHTML = "";

            // Populate options based on selected District
            areasByDistrict[selectedDistrict].forEach(area => {
                const option = document.createElement("option");
                option.textContent = area;
                option.value = area;
                areaSelect.appendChild(option);
            });
        }

        // Event listener to trigger population of Areas when District selection changes
        districtSelect.addEventListener("change", populateAreas);

        // Populate initial Areas based on default selected District
        populateAreas();
    });


</script>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
