@model CourierService_Web.Models.Zone

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    string AdminId = Context.Request.Cookies["AdminId"];
}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row mt-5 justify-content-center align-content-center">
                <div class="col-lg-6">
                    <div>
                        <h4 class="header-title">Create a New Zone</h4>

                        <form asp-action="CreateZone" method="post">
                            <div class="form-group">
                                <label asp-for="Name">Zone Name</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="DistrictId">Select District<span class="text-danger">*</span></label>
                                <select name="DistrictId" class="form-control">
                                    @foreach (var district in ViewBag.Districts)
                                    {
                                        <option value="@district.Id">@district.Name</option>
                                    }
                                </select>
                            </div>

                                <div class="form-group">
                                <label for="HubId">Select Hub<span class="text-danger">*</span></label>
                                <select name="HubId" class="form-control">
                                @foreach (var hub in ViewBag.Hub)
                                {
                                <option value="@hub.Id">@hub.Name</option>
                                }
                                </select>
                                </div>
                            <button type="submit" class="btn btn-primary">Create Zone</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
